<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lilChat | real time messaging</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>lilChat</h1>
        <!-- Chat Window & User Send Message Area -->
        <div id="chat"
             style="height:300px; overflow-y: auto;">
        </div>
        <div class="input-group">
            <input
                    id="senderInput"
                    type="text"
                    placeholder="Your name..."
            >
        </div>
        <div class="input-group">
            <input
                    id="messageInput"
                    type="text"
                    placeholder="Type a message..."
            >
            <div id="input-group-append">
                <button id="sendMessage">Send</button>
            </div>
        </div>
    </div>
</body>
<script>
    const setConnected = (connected) => {
        document.getElementById('sendMessage').disabled = !connected;
    }

    const connect = () => {
        var socket = new SockJS('/chat');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
           setConnected(true);
           stompClient.subscribe('/topic/messages', function (message) {
               showMessage(JSON.parse(message.body));
           });
        });
    }
</script>
</html>