<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lilChat | real time messaging</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@5.0.0/bundles/stomp.umd.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>lilChat</h1>
        <!-- Chat Window & User Send Message Area -->
        <div id="chat"
             style="height:300px; overflow-y: auto;">
        </div>
        <div class="input-group">
            <input
                    id="senderInput"
                    type="text"
                    placeholder="Your name..."
            >
        </div>
        <div class="input-group">
            <input
                    id="messageInput"
                    type="text"
                    placeholder="Type a message..."
            >
            <div id="input-group-append">
                <button id="sendMessage">Send</button>
            </div>
        </div>
    </div>
</body>
<script>
    const setConnected = (connected) => {
        document.getElementById('sendMessage').disabled = !connected;
    }

    const connect = () => {
        var socket = new SockJS('/chat');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
           setConnected(true);
           stompClient.subscribe('/topic/messages', function (message) {
               showMessage(JSON.parse(message.body));
           });
        });
    }

    const showMessage = (message) => {
        var chat = document.getElementById('chat');
        var messageElement = document.createElement('div');
        messageElement.textContent = message.sender + ': ' + message.content;
        messageElement.class = "border-bottom mb-1";
        chat.appendChild(messageElement)
        chat.scrollTop = chat.scrollHeight;
    }

    const sendMessage = () => {
        var sender = document.getElementById('senderInput').value;
        var content = document.getElementById('messageInput').value;
        var chatMessage = {
            sender: sender,
            content: content
        }
        // send the message to the server via Stomp Client
        stompClient.send("app/sendMessage", {}, JSON.stringify(chatMessage));
    }
</script>
</html>